@font-face {
    font-family: "HYQuanTangShiJ";
    src: url('../font/HYQuanTangShiJ.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'HYQuanTangShiJ';
    font-size: 0;
    min-width: 950px;
}

body {
    color: #313131;
    background: white;
    font-size: 15px;
}

.container {
    margin: 0px auto;
    text-align: center;
    max-width: 1280px;
    min-width: 1024px;
    width: 100%;
    height: 100%;
}

.header {
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    /* background: #59dba6; */
    height: 80px;
    line-height: 80px;
    color: white;
}

.icon {
    height: 50px;
    width: 400px;
    line-height: 50px;
    margin-left: 20px;
}

.logo {
    height: 50px;
    display: block;
}

.name {
    margin-left: 45%;
    font-size: 18px;
    cursor: pointer;
}

.logout {
    margin-left: 5%;
    font-size: 18px;
    cursor: pointer;
}

.center {
    display: inline-block;
    vertical-align: middle;
}

.catogery {
    margin-left: 14%;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.catogery ul {
    list-style: none;
}

.catogery li {
    float: left;
    width: 100px;
    background: #CCC;
    margin-left: 8px;
    line-height: 40px;
    font-size: 20px;
}

.catogery a {
    display: block;
    text-align: center;
    height: 40px;
}

ul li {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

.getLi {
    color: #666;
    text-decoration: underline;
}

.row {
    margin: 20px auto;
    width: 80%;
    list-style-type: none;
    font-size: 0;
    /* display: flex; */
}

.col {
    width: 27%;
    margin: 3%;
    display: inline-block;
    font-size: 15px;
}

.page {
    border: #515151 solid 1px;
    padding: 2px 5px;
    margin: 3px;
    font-size: 15px;
}

.pageCount {
    font-size: 15px;
}

.page:hover {
    cursor: pointer;
}

.caption {
    padding: 9px 9px 0px 9px;
}

h4 {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #313131;
}

.input {
    display: inline-block;
    width: 110px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin: 10px 20px 10px;
    color: #fff;
    background-color: #22c08a;
    border: none;
    border-radius: 20px;
    transition: background-color .10s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.input:hover {
    background-color: #26d69a;
}

.input:active {
    background-color: #1eaa7a;
}

table {
    margin: 0 auto;
}

.bookface {
    width: 80%;
}